<!DOCTYPE html>
<html>
<head>
  <title>Ask a question</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <div class="ask">
      <h4>Ask your coach anything:</h4>
      <form action="/answer" class="form-inline">
        <div class="form-group mb-2">
          <input type="text" class="form-control" name="question" id="inputPassword2" placeholder="Tap your question">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Ask!</button>
      </form>
    </div>
  </div>

</body>
</html>




